body {
    font-family: OpenDyslexic, "Courier", monospace;
    background-color: black;
    color: whitesmoke;
}

header a {
    display:block;
    color:whitesmoke;
    text-decoration: none;
}

header a:hover {
    background-color:#006000;
    color: whitesmoke;
}

header a:active {
    color:#008000;
    background-color:black;
}

nav {
    display: flex; 
    flex-flow: row wrap;
    column-gap: 10px;
}

nav a {
    display: block;
    background-color: black;
    color: whitesmoke;
    padding: 1% 1%;
    margin-top: 0;
    margin-right: 1%;
}

nav a:hover {
    background-color:slateblue;
    color: black;
}

.currentpage {
    color: slateblue;
    background-color: black;
    border-bottom: 8px solid whitesmoke;
}

footer {
    color: #008000;
    margin-top: 5%;
    margin-left: 1%;
}

img {
    width:86%;
}

/*page-specific details*/

.colflex {
    display: flex;
    gap: 1px 1px;
}

.colflex aside  {
    width: 20%;
}

.colflex main {
    background-color: whitesmoke;
    color: #006000;
    width: 80%;
    padding: 1%;
    align-items: center;
    border-radius: 2px;
}

.mediaparent {
    background-color:whitesmoke;
}

.mediacontainer {
    gap: 1%;
    background-color: black;
    color:#008000;
    margin: 3%;
    padding: 1%;
    justify-content: center;
    border-radius: 2px;
}

.noclashcurrentpage {
    margin:1%; 
    width:80%;
    background-color:slateblue;
    color:whitesmoke;
    border-bottom: 6px whitesmoke;
}

.prose {
    text-indent: 48px;
}

td a {
    color:#008000;
    text-decoration:none;
}

caption {
    color:#008000;
}

caption a {
    color:whitesmoke;
}

caption a:active {
    color:#008000;
}

.structure {
    width: 94%;
    border: 1px solid #008000;
    border-spacing: 0;
    border-collapse: collapse;
    caption-side: bottom;
    background-color: black;
    color: #008000;
    align-items: center;
}

.structure thead {
    background-color: black;
    color:#006000;
    border-bottom: 1px thin #006000;
}

caption {
    color: whitesmoke;
}

.verseindent {
    margin: 48px;
}

.verse2indent {
    margin: 96px;
}

.verse3indent {
    margin: 144px;
}

.verse4indent {
    margin: 192px;
}

.espanolduality {
    font-style: italic;
}

iframe {
    width:94%;
    height:700px;
}

.forerow, .checkrow {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.forerow label, .spacer {
    width: 150px;
    text-align: right;
}

input:not([type="submit"]), textarea {
    padding: 5px 15px;
    background-color: #008000;
    color: whitesmoke;
    border: 1px whitesmoke;
    border-radius: 3px;
}


input:not([type="submit"]):focus, textarea:focus {
    background-color: #006000;
    color:whitesmoke;
}

input[type="submit"]    {
    padding: 10px 10px; 
    background-color: whitesmoke;
    color: #008000;
    border: 0;
    border-bottom: thin solid #008000;
    margin:10px;
    border-radius: 5px;
    font-family: OpenDyslexic, Courier, monospace;
    font-weight: bolder;
    
}

placeholder, textarea placeholder {
    color: whitesmoke;
    opacity: 1;
    font-family: OpenDyslexic, "Courier", monospace;
}

textarea, text, email {
    border-radius: 5px;
    font-family: OpenDyslexic, "Courier", monospace;
    width: 40%;
}

footer p {
    margin: 10px;
}




@media only screen and (max-width: 600px)  { 
    nav a {
        width: 100%;
    }
    
    .currentpage {
        border: 2px ridge whitesmoke;
    }
    
    
/*page-specific details on mobile*/
    .noclashcurrentpage{
        border: 4px ridge whitesmoke;
        width:96%;
    }
    .header {
        background-color: black;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0;    
    }
    
    .forerow, .checkrow {
        flex-direction: column;
        gap: 0;
        text-align: left;
    }
    
    .forerowgreen {
        flex-direction: column;
        gap: 0;
        text-align: left;
        color:#006000;
    }

    .spacer {
        width:fit-content;
    }

    .forerow label  {
        text-align: left;
    }

    textarea, select, input[type="color"] {
        flex-direction: column;
        width: 90%;
    }

    textarea {
        width: 90%;
        height: 150px;
    }

    input[type="submit"] {
        color: #006000;
        font-weight: bold;
        font-size: larger;
        width: 40%;
    }
}